.tables {
  /* background-color: #e8e8e8; */
  margin-top: 70px;
}
.tables .title h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 35px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 0.5rem;
}

.table .text {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.table .text .para {
  width: 500px;
}

.table .text h3 {
  font-size: 40px;
  font-weight: 400;
  color: var(--orange-color);
}
.table .text p {
  font-size: 30px;
  font-weight: 400;
  color: var(--second-color);

  letter-spacing: 2px;
  line-height: 2rem;
}

.text img {
  width: 20%;
}
table {
  background: var(--second-color);
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  padding: 10px;
  border-radius: 10px;
  margin: 50px 0px;
}

table thead {
  background: var(--main-color);
  /* border: 3px solid var(--main-color); */
}

table thead th {
  padding: 20px 40px;
  border-radius: 10px;
  margin: 20px 20px;
  font-size: 30px;
  line-height: 1.5rem;
  color: var(--orange-color);
}

table tbody {
  background: var(--main-color);
  /* border: 3px solid var(--main-color); */
}

table tbody td {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5rem;
  color: white;
  border-radius: 10px;
}
table span {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: var(--orange-color);
}

.bp button {
  background: var(--orange-color);
  padding: 20px 45px;
  color: white;
  border: none;
  font-size: 18px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
}

@media (max-width: 1100px) {
  .text img {
    display: none;
  }
}

@media (max-width: 550px) {
  .tables .title h2 {
    font-size: 25px;
    text-transform: capitalize;
    
    margin-top: 100px;
  }
  .table .text {
    text-align: center;
  }
  .table .text h3{
    font-size: 40px;
  }
  .table .text p{
    font-size: 20px;
  }
}
