.about {
  display: flex;
  margin: 20px 80px;
  justify-content: Space-around;
  align-items: flex-start;
  gap: 3rem;
}

.about .image {
  display: flex;
  gap: 2rem;
}

.about .image .image-t img {
  border-radius: 0 60px 60px;
  padding: 5px;
}

.about .text h3 {
  color: var(--orange-color);
  font-size: 40px;
  font-weight: 700;
}
.about .text h2 {
  display: block;
  color: var(--main-color);
  font-size: 45px;
  font-weight: 700;
}
.about .text p {
  color: rgb(80, 80, 80);
  font-size: 20px;
  line-height: 1.5rem;
}

.about .same {
  display: flex;
}

.about .same .s-pare p {
  border: 1px solid var(--orange-color);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--main-color);
}
.about .same .s-pare p:hover {
  background-color: rgb(2 59 109 / 87%);
  color: white;
}

.about button {
  background: var(--orange-color);
  padding: 20px 45px;
  color: white;
  border: none;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .about .image {
    display: none;
  }
}

@media (max-width: 550px) {
  .about .text {
    text-align: center;
  }

  .about .text h2 {
    font-size: 2rem;
    line-height: 3.3rem;
    margin: 24px 0;
  }

  .about .text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .about .same {
    flex-direction: column;
  }
}
