.profile {
  position: absolute;
  height: 199px;
  width: 100%;
  background: var(--main-color);
}
.profile::before,
.profile::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.profile::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.profile::after {
  width: 55%;
  height: 100%;
  background: var(--main-color);
  left: -1.5%;
  top: 40%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: 9rem;
}

.cards .info {
  margin-top: -100px;
}

.profile .card-1 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 4rem;
}

.profile .card-1 h4 {
  color: var(--orange-color);
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.profile .card-1 form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile .card-1 .labels span {
  color: var(--main-color);
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding-right: 15px;
}

.profile .card-1 .labels {
  color: var(--second-color);
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.profile .card-1 .labels label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom-style: outset;
  border-radius: 10px;
  padding: 5px;
}

.for-kids h2 {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.profile .kids-info {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

 {
}

.profile .kids-info .info h4 {
  color: var(--orange-color);
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.profile .kids-info .labels {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
}

.profile .kids-info .labels form {
  border: 1px solid var(--main-color);
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile .kids-info .labels form button {
  background: var(--orange-color);
  padding: 10px 25px;
  color: white;
  border: none;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
}
@media (max-width: 700px) {
  .cards img {
    display: none;
  }

  .profile .card-1 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .profile .card-1 h4 {
    text-align: center;
  }
  .profile .kids-info {
    gap: 0;
  }
  .profile .kids-info .labels {
    flex-direction: column;
  }
  .profile .kids-info .info h4 {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
}
