.profile {
  position: absolute;
  height: 199px;
  width: 100%;
  background: var(--main-color);
}
.profile::before,
.profile::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.profile::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.profile::after {
  width: 55%;
  height: 100%;
  background: var(--main-color);
  left: -1.5%;
  top: 40%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 9rem;
}

.cards .info {
  margin-top: -100px;
}

.profile .card-1 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 4rem;
}

.profile .card-1 h4 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.profile .card-1 img {
}

.profile .card-1 form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile .card-1 form input.open {
  background: var(--orange-color);
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 18px;
  width: 150px;
  cursor: pointer;
  margin-top: 2rem;
}
.profile .card-1 .labels span {
  color: var(--main-color);
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding-right: 15px;
}

.profile .card-1 .labels {
  color: var(--second-color);
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 700;
  /* margin-bottom: 10rem; */
}

.profile .card-1 .labels label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom-style: outset;
  border-radius: 10px;
  padding: 5px;
}

.profile .bp button {
  background: var(--orange-color);
  padding: 20px 45px;
  color: white;
  border: none;
  font-size: 18px;
  position: relative;
  left: 20%;
  margin-top: -200px;
  
}

.card-2 img {
  margin-top: -50px;
  width: 250px;
  filter: drop-shadow(4px 4px 6px var(--main-color));
}

.card-2 img:hover {
  transform: scale(1.1);
}







