.totalCard {
  margin-top: 25rem;
}
.totalCard .card-time {
  width: 500px;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-time img {
  width: 120px;
  height: 120px;
  padding-top: 15px;
  filter: drop-shadow(2px 4px 6px black);
}

.card-time .text h3 {
  font-size: 25px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
  color: var(--second-color);
  border-radius: 15px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
  padding: 5px;
  text-align: center;
}

.card-time .text .text-pra {
 width: 100%;
    border-radius: 15px;
    margin-top: -15px;
    display: flex;
    gap: 2rem;
    color: var(--second-color);
    justify-content: center;
    font-size: 25px;
}

.card-time .text .text-pra .st {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.card-time .card-info {
  font-size: 20px;
  letter-spacing: 0.5px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem 0rem;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

.card-time p{
  color:var(--orange-color );
  font-size: 25px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    padding: 5px;
    margin:-5px;
    text-align: center;
  }
  
  .card-time p span{
    color: var(--second-color);
  }
