.header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.header-container .logo {
  width: 100px;
}

.header-container .logo img {
  width: 80%;
  height: auto;
}

.header-container .nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header-container .nav ul li {
  font-size: 25px;
  letter-spacing: 1px;
}

.header-container .nav ul li a {
  color: white;
}
.header-container .nav ul li a:hover {
  color: var(--orange-color);
}

.header-container .nav ul li a.active {
  color: var(--orange-color);
}

.header-container button {
  background-color: var(--second-color);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.header button.menu {
  display: none;
}
/* model === fixed */
.header .fixed {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgb(0 16 31 / 81%);
}

@keyframes move {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.header .fixed ul.model {
  animation: move 0.7s 1;
  scale: 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(4 26 45);
}
.header .fixed ul.model li {
  border-bottom: 1px solid #00000024;
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
  text-align: left;
}
.header .fixed ul.model li:last-child {
  border: none;
}
.header .fixed ul.model li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
}
.header .fixed ul.model li a {
  font-size: 1rem;
  scale: 1;
  color: #fff;
}
.header .fixed ul.model li a:hover {
  color: var(--orange-color);
  font-size: 1.2rem;
}

.header button.menu,
.header .mode button {
  /* border-radius: 50%;
    width:2.4rem;
    height:2.4rem; */
}

/* .Profile .out a {
  
} */

@media (max-width: 700px) {
  .header-container {
    margin: 20px;
    gap: 2rem;
    justify-content: center;
  }
  .header .header-container .nav,
  .header-container .logo {
    display: none;
  }
  .header button.menu {
    display: block;
  }
}
