.header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.header-container .logo {
  width: 100px;
  padding-top:15px;
}

.header-container .logo img {
  width: 80%;
  height: auto;
}

.header-container .nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header-container .nav ul li {
  font-size: 25px;
  letter-spacing: 1px;
}

.header-container .nav ul li a {
  color: white;
}
.header-container .nav ul li a:hover {
  color: var(--orange-color);
}

.header-container .nav ul li a.active {
  color: var(--orange-color);
}

.header-container button {
  background-color: var(--second-color);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.header button.menu {
  display: none;
}
/* model === fixed */
.header .fixed {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgb(0 16 31 / 81%);
}

@keyframes move {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.header .fixed ul.model {
  animation: move 0.7s 1;
  scale: 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(4 26 45);
}
.header .fixed ul.model li {
  border-bottom: 1px solid #00000024;
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
  text-align: left;
}
.header .fixed ul.model li:last-child {
  border: none;
}
.header .fixed ul.model li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
}

.header .fixed ul.model li.mode button:hover {
  color: red;
}
.header .fixed ul.model li a {
  font-size: 1rem;
  scale: 1;
  color: #fff;
}
.header .fixed ul.model li a:hover {
  color: var(--orange-color);
  font-size: 1.2rem;
}

.header .total-setting .btn {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header .icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .icon-settings {
  font-size: 25px;
  cursor: pointer;
  color: var(--second-color);
}

.header .setting .setting-info ul {
  width: 220px;
  height: 80px;
  position: absolute;
  top: 90%;
  right: 60px;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}
.header .setting .setting-info ul li a {
  color: var(--second-color);
  font-size: 25px;
  padding-right: 50px;
}
.header .setting .setting-info ul li a:hover {
  color: var(--orange-color);
  font-size: 25px;
  padding-right: 50px;
}

.header .setting .setting-info ul li .icon-close1 {
  position: relative;
  left: 80px;
  padding-bottom: 10px;
}
.header .setting .setting-info ul li .icon-close1:hover {
  color: red;
  /* transform: rotate(360deg); */
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .header-container {
    margin: 20px;
    gap: 2rem;
    justify-content: center;
  }
  .header .header-container .nav,
  .header-container .logo {
    display: none;
  }
  .header button.menu {
    display: block;
  }
}
